<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profil - CeritaAja.com</title>
  </head>
  <body>
    <nav-bar />
    <main class="d-flex justify-content-center align-items-center gap-5">
      <section>
        <div class="d-flex justify-content-center align-items-center mb-3">
          <avatar-component />
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <i class="bi bi-person-circle me-2"></i>
            <span>Ghazi Taqiyya Al Anshari</span>
          </li>
          <li class="list-group-item">
            <i class="bi bi-building me-2"></i><span>Software Developer</span>
          </li>
          <li class="list-group-item">
            <i class="bi bi-github me-2"></i
            ><a href="https://www.github.com/taqiyyaghazi">https://www.github.com/taqiyyaghazi</a>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
