<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daftar - CeritaAja.com</title>
    <link type="text/css" href="../scss/main.scss" />
  </head>
  <body>
    <nav-bar />
    <main class="d-flex justify-content-center align-items-center">
      <form id="register-form" novalidate>
        <div class="mb-3">
          <label for="name" class="form-label">Nama</label>
          <input class="form-control" type="text" id="name" required />
          <div class="invalid-feedback">Nama wajib diisi</div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input class="form-control" type="email" id="email" required />
          <div class="invalid-feedback">Email wajib diisi</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input class="form-control" type="password" id="password" required />
          <div class="invalid-feedback">Password wajib diisi</div>
        </div>
        <div class="d-flex justify-content-start align-items-center gap-3">
          <button type="submit" class="btn btn-primary">
            <span
              id="spinner"
              class="spinner-border spinner-border-sm me-2 d-none"
              aria-hidden="true"
            ></span>
            <span> Daftar </span>
          </button>
        </div>
      </form>
      <toast-component />
    </main>
  </body>
</html>
